.container {

    background-color: aqua;
    max-width:100vw;
    height: 100vh;
}

/* cabecario */

.cabecario {

    background-color: aliceblue;
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;

}

.logo {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
}

.inp-cabecario {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 352px;
    margin-right: 2%;

}

.inp-cabecario input {

    background-color: transparent;
    width: 286px;
    height: 44px;
    border-radius: 10px;
    border: 1px solid silver;
    padding-left: 10%
}

.inp-cabecario img {

    margin-right: -30px;

}

.power {

    margin-left: 5%;
}

/* lateral */
.lado {

    display: flex;
    flex-wrap: wrap;

}

.cnn {

    color: aliceblue;
    background-color: #335cff;
    display: flex;
    width: 20vw;
    height: 6vh;
    border-radius: 10px;
    margin-top: 3vh;
    margin-left: 10%

}

.left-panel {

    height: 90vh;
    width: 25%;

}

.left-container{
    
    background-color: black;
    height: 85%;
    width: 86%;
    margin-left: 7%;
    margin-top:5%;


}

.central-panel {

    background-color: blue;
    height: 90vh;
    width: 50vw;

}